<div>
    <h2>Tasks are:</h2>

    <ul>
        <li *ngFor="let task of tasks; let i = index">
            {{ task.title }} - {{ task.description }}
            <button (click)="editTask(i)">Edit</button>
            <button (click)="deleteTask(i)">Delete</button>
        </li>
    </ul>

    <h2>Add/Update Task</h2>

    <form *ngIf="editingIndex === -1; else editForm" (ngSubmit)="addTask()">
        <label>Title: <input [(ngModel)]="newTask.title" name="title" /></label>
        <label>Description: <input [(ngModel)]="newTask.description" name="description" /></label>
        <button type="submit">Add Task</button>
    </form>

    <ng-template #editForm>
        <form (ngSubmit)="updateTask()">
            <label>Title: <input [(ngModel)]="newTask.title" name="title" /></label>
            <label>Description: <input [(ngModel)]="newTask.description" name="description" /></label>
            <button type="submit">Update Task</button>
            <button type="button" (click)="clearForm()">Cancel</button>
        </form>
    </ng-template>
</div>